@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");
body {
    overflow: hidden;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a {
    color: #000;
}

.pg-vertical {
    padding-right: 0;
    overflow-x: hidden;
}


/* header */

.header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
}


/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 1s ease-out;
}


/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}


/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/* 48em = 768px */

@media (min-width: 900px) {
    .header li {
        float: left;
    }
    #page1 {
        background: #ccc;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
    .header .menu-btn:checked~.menu {
        max-height: 400px;
    }
}

@media (max-width: 900px) {
    .header .menu-btn:checked~.menu {
        max-height: 400px;
    }
    header ul {
        background-color: #ccc;
    }
}


/* @media (min-width: 830px) {
    header ul li {
        padding: 10px 10px;
    }
} */

section {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-flow: row;
    position: relative;
}

#page-1 {
    background-image: url(https://webseo247.com/wp-content/themes/tilu/assets/images/banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    padding: 8rem 3rem 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #bf1e2e;
    text-shadow: 1px 1px #333;
}

#page-2 {}

#page-3 {}

#page-4 {}

#page-5 {}

#page-6 {}

#page-1-clone {}

#page-6-clone {}

nav {
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a span {
    background: rgb(3, 3, 3);
}

nav li {
    display: block;
    width: 10px;
    height: 10px;
    margin: 16px;
    position: relative;
}

nav span:after {
    background: rgba(8, 8, 8, 0.15);
    position: absolute;
    content: "";
    display: block;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 100%;
    transition: 0.3s;
}

nav li .active span {
    background: rgb(7, 7, 7);
    position: absolute;
}

nav li .active span:after {
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative;
}

nav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

nav ul li a.active span,
nav ul li:hover a.active span {
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
}

nav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: rgb(10, 9, 9);
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    transition: all 0.1s ease-in-out;
}

nav ul li:hover a span {
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}

.pg-horizontal nav {
    width: 100vw;
    left: 0;
    bottom: 20px;
}

.pg-horizontal nav ul li {
    float: left;
}